@import url('primereact/resources/themes/viva-light/theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: GilInter, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    background-color: #242424;
    color: #3E4958;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden;
    height: 100%;
}

.p-dropdown {
    display: flex;
    align-items: center;
}

.p-dropdown-label {
    font-size: 14px;
    height: fit-content;
}

.p-dropdown-items-wrapper {
    font-size: 14px;
    border-radius: 0 0 10px 10px;
}

.p-datascroller-content, .p-datascroller {
    background-color: transparent;
    padding: 0;
}